.card{
    &.list_user_card{
        @include transition-default;
        &:hover{
            background-color:$light_yellow;
            transform: translate(-2px, 0);
            .user_fullname{
                color: #ab9612;
            }
        }
    }
}