<template>
    <div>
        <alert-error-component :errors="errors" v-if="showErr"></alert-error-component>
        <alert-success-component :message="successText" v-if="showSucc"></alert-success-component>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card border-0 rounded-0 shadow shadower">
                        <div class="card-header bg-dark text-white rounded-0">
                            <h5 class="m-0">Agregar usuario</h5>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="postUser" novalidate>
                                <div class="form-group" :class="{invalid: $v.user.username.$error}">
                                    <label for="username" class="font-weight-bold">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="ej. d_perez78" @blur="$v.user.username.$touch()" v-model="user.username">
                                    <div v-if="$v.user.username.$dirty">
                                        <small v-if="!$v.user.username.required" class="form-text text-danger">El campo username es obligatorio</small>
                                        <small v-if="!$v.user.username.minLength" class="form-text text-danger">El campo tiene una longitud mínima de {{ $v.user.username.$params.minLength.min }} caracteres</small>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <div class="form-group m-0" :class="{invalid: $v.user.nombre.$error}">
                                            <label for="nombre" class="font-weight-bold">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" placeholder="ej. Daniel" @blur="$v.user.nombre.$touch()" v-model="user.nombre">
                                            <div v-if="$v.user.nombre.$dirty">
                                                <small v-if="!$v.user.nombre.required" class="form-text text-danger">El campo nombre es obligatorio</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group m-0" :class="{invalid: $v.user.apellido.$error}">
                                            <label for="apellido" class="font-weight-bold">Apellido</label>
                                            <input type="text" class="form-control" name="apellido" placeholder="ej. Pérez" @blur="$v.user.apellido.$touch()" v-model="user.apellido">
                                            <div v-if="$v.user.apellido.$dirty">
                                                <small v-if="!$v.user.apellido.required" class="form-text text-danger">El campo apellido es obligatorio</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" :class="{invalid: $v.user.email.$error}">
                                    <label for="email" class="font-weight-bold">Email</label>
                                    <input type="email" @blur="$v.user.email.$touch()" class="form-control" name="email" placeholder="ej. dperez@gmail.com" v-model="user.email">
                                    <div v-if="$v.user.email.$dirty">
                                        <small v-if="!$v.user.email.required" class="form-text text-danger">El campo email es obligatorio</small>
                                        <small v-if="!$v.user.email.email" class="form-text text-danger">Ingrese un email válido</small>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success border-0 rounded-pill float-right" :disabled="$v.$error">
                                    {{submitBtn}}
                                </button>
                            </form>
                        </div>
                    </div>
                    <router-link to="/" class="d-block text-center mt-4"><i class="fas fa-2x fa-arrow-left text-secondary"></i></router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { url } from '../../app.js';
    import { required, email, minLength } from 'vuelidate/lib/validators'
    export default {
        data: function(){
            return {
                submitBtn: 'Agregar',
                loading: false,
                user: {
                    username: '',
                    apellido: '',
                    nombre: '',
                    email:''
                }
            }
        },
        validations: {
            user: {
                username: {
                    required,
                    minLength: minLength(5)
                },
                nombre: {
                    required
                },
                apellido: {
                    required
                },
                email: {
                    required,
                    email
                }
            }
        },
        methods:{
            postUser: function(){
                this.$v.$touch();
                this.loading = true;
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }else{
                    this.submitBtn = 'Agregando...';
                    axios.post(url + '/api/add-user', {
                    username: this.user.username,
                    nombre: this.user.nombre,
                    apellido: this.user.apellido,
                    email: this.user.email,
                    })
                    .then(response => {
                        if (!response.data.errors) {
                            this.submitBtn = 'Agregar';
                            this.$store.commit('showSucc', response.data.mensaje);
                            setTimeout(() => {
                                this.$router.push({path: '/'})
                            }, 500);
                            
                        }else{
                            this.submitBtn = 'Agregar';
                            this.loading = false;
                            this.$store.commit('showError', response.data.errors);
                        }

                    })
                    .catch(error => {
                        console.log(error);
                        this.submitBtn = 'Agregar';
                    });
                }
            },
        },
        computed: {
            showSucc: function(){
                return this.$store.state.showSucc;
            },
            successText: function(){
                return this.$store.state.successText;
            },
            showErr: function(){
                return this.$store.state.showErr;
            },
            errors: function(){
                return this.$store.state.errors;
            }
        }
    }
</script>