<template>
    <div>
        <alert-error-component :errors="errors" v-if="showErr"></alert-error-component>
        <alert-success-component :message="successText" v-if="showSucc"></alert-success-component>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card border-0 rounded-0 shadow shadower">
                        <div class="card-header bg-dark text-white rounded-0">
                            <h5 class="m-0">Modificar usuario</h5>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="updateUser" method="PUT" novalidate>
                                <div class="form-group" :class="{invalid: $v.user.username.$error}">
                                    <label for="username" class="font-weight-bold">Username</label>
                                    <input type="text" name="username" class="form-control" @blur="$v.user.username.$touch()" v-model="user.username">
                                    <div v-if="$v.user.username.$dirty">
                                        <small v-if="!$v.user.username.required" class="form-text text-danger">El campo username es obligatorio</small>
                                        <small v-if="!$v.user.username.minLength" class="form-text text-danger">El campo tiene una longitud mínima de {{ $v.user.username.$params.minLength.min }} caracteres</small>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <div class="form-group m-0" :class="{invalid: $v.user.nombre.$error}">
                                            <label for="nombre" class="font-weight-bold">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" @blur="$v.user.nombre.$touch()" v-model="user.nombre">
                                            <div v-if="$v.user.nombre.$dirty">
                                                <small v-if="!$v.user.nombre.required" class="form-text text-danger">El campo nombre es obligatorio</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group m-0" :class="{invalid: $v.user.apellido.$error}">
                                            <label for="apellido" class="font-weight-bold">Apellido</label>
                                            <input type="text" class="form-control" name="apellido" @blur="$v.user.apellido.$touch()" v-model="user.apellido">
                                            <div v-if="$v.user.apellido.$dirty">
                                                <small v-if="!$v.user.apellido.required" class="form-text text-danger">El campo apellido es obligatorio</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" :class="{invalid: $v.user.email.$error}">
                                    <label for="email" class="font-weight-bold">Email</label>
                                    <input type="email" class="form-control" name="email" @blur="$v.user.email.$touch()" v-model="user.email">
                                    <div v-if="$v.user.email.$dirty">
                                        <small v-if="!$v.user.email.required" class="form-text text-danger">El campo email es obligatorio</small>
                                        <small v-if="!$v.user.email.email" class="form-text text-danger">Ingrese un email válido</small>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary border-0  rounded-pill float-right text-white" :disabled="$v.$invalid">
                                    {{ submitBtn }}
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <router-link to="/" class="d-inline-block mt-4">
                            <i class="fas fa-2x fa-arrow-left text-secondary"></i>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { url } from '../../app.js';
    import { required, email, minLength } from 'vuelidate/lib/validators';
    export default {
        props: ['id'],
        data: function(){
            return {
                submitBtn: 'Modificar',
                user: {
                    username: '',
                    nombre: '',
                    apellido: '',
                    email: ''
                },
                userId: null
            }
        },
        created() {
            this.userId = this.$route.params.id;
            axios.get(url + '/api/get-user/' + this.userId).then(response =>
            {
                this.user.username = response.data.user.username;
                this.user.nombre = response.data.user.nombre;
                this.user.apellido = response.data.user.apellido;
                this.user.email = response.data.user.email;
            })
            .catch(error => {
                console.log(error)
            })
        },
        validations: {
            user: {
                username: {
                    required,
                    minLength: minLength(5)
                },
                nombre: {
                    required
                },
                apellido: {
                    required
                },
                email: {
                    required,
                    email
                }
            }
        },
        methods: {
            updateUser: function(){
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }else{
                    this.submitBtn = 'Modificando...';
                    axios.put(url + '/api/update-user/' + this.userId, {
                        username: this.user.username,
                        nombre: this.user.nombre,
                        apellido: this.user.apellido,
                        email: this.user.email,
                    })
                    .then(response => {
                        if (!response.data.errors) {
                            this.submitBtn = 'Modificar';
                            this.$store.commit('showSucc', response.data.mensaje);
                            setTimeout(() => {
                                this.$router.push({path: '/'}) 
                            }, 500);
                        }else{
                            this.submitBtn = 'Modificar';
                            this.$store.commit('showError', response.data.errors);
                        }
                    })
                    .catch(error => {
                        this.submitBtn = 'Modificar';
                        console.log(error);
                    });
                }
            }
        },
        computed: {
            showSucc: function(){
                return this.$store.state.showSucc;
            },
            successText: function(){
                return this.$store.state.successText;
            },
            showErr: function(){
                return this.$store.state.showErr;
            },
            errors: function(){
                return this.$store.state.errors;
            }
        }
    }
</script>