<template>
    <div class="container">
        <div class="row mb-3">
            <div class="col-6">
                <span class="d-block pt-2">
                    Total de usuarios: 
                    <strong class="text-dark" v-if="getTotUsers">{{ getTotUsers }}</strong>
                    <strong class="text-secondary font-weight-normal" v-else>Actualizando...</strong>
                </span>
            </div>
            <div class="col-6">
                <router-link class="btn btn-success rounded-pill float-right text-white sh-success border-0" :to="{ name: 'add-user' }">Agregar usuario</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <list-user-component></list-user-component>
            </div>
            <div class="col-md-5 mt-4 mt-md-0">
                <search-user-component></search-user-component>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function(){
            return {}
        },
        computed:{
            getTotUsers: function(){
                return this.$store.state.totUsers;
            }
        }
    }
</script>