<template>
    <div>
        <div class="card border-0 rounded-0 shadow">
            <div class="card-header bg-dark text-white rounded-0 border-0">
                <h5 class="m-0">Listado de usuarios</h5>
            </div>
            <div class="card-body bg-secondary py-2">
                <div class="row text-white">
                    <div class="col-md-3">
                        <strong>Username</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>Nombre completo</strong>
                    </div>
                    <div class="col-md-5">
                        <strong>Email</strong>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center lead mt-4 text-secondary" v-if="loading"> Actualizando listado... </h3>
        <user-component v-else v-for="(user, index) in users" :key="index" :user="user"></user-component>
    </div>
</template>
<script>
    import { url } from '../../app.js';
    export default {
        data: function () {
            return {
                users: {},
                loading: true,
                searchBtn: 'Buscar'
            }
        },
        created() {
            axios.get(url + '/api/list-users').then(response => {
                this.users = response.data.users;
                this.$store.state.totUsers = response.data.users.length;
                this.$store.state.users = response.data.users;
                this.loading = false;
            })
            .catch(error => {
                console.log(error)
            })
        },
        computed: {
            getTotUsers: function () {
                return this.$store.state.totUsers;
            }
        }
    }

</script>
