<template>
    <div class="card rounded-0 border-0 shadow shadower mt-2" :class="{deleted: isDeleted}">
        <div class="card-body py-2">
            <p class="card-text m-0"><strong>Username:</strong> {{ user.username }}</p>
            <p class="card-text my-1"><strong>Nombre completo:</strong> {{user.nombre}} {{user.apellido}}</p>
            <p class="card-text m-0"><strong>Email:</strong> {{user.email}}</p>
        </div>
        <div class="card-footer text-muted border-0">
            <ul class="list-inline m-0 float-right">
                <li class="list-inline-item">
                    <router-link class="btn btn-primary rounded-pill btn-sm" :to="{name: 'edit-user', params: {id: user._id}}" :class="{linkDisabled: isDeleted}">
                        <i class="fas fa-pen-alt"></i>
                    </router-link>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-danger rounded-pill btn-sm" @click="deleteUser" :disabled="isDeleted">
                        <i :class="[!loading ? 'fas fa-trash' : 'fas fa-sync-alt']"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {url} from '../../app.js';
    export default {
        props: ['user', 'index'],
        data: function () {
            return {
                isDeleted: false,
                loading: false
            }
        },
        methods:{
            deleteUser: function(){
                this.loading = true;
                axios.delete(url + '/api/delete-user/' + this.user._id)
                .then(response => {
                    if(!response.data.errors)
                    {
                        this.$store.commit('removeUser', {userEmail: this.user.email, userUsername: this.user.username});
                        this.$store.commit('showSucc', response.data.mensaje);
                        this.$store.commit('decrementUsers');
                        this.isDeleted = true;
                        this.loading = false;
                    }else{
                        this.$store.commit('showError', response.data.errors);
                    }

                })
                .catch(error => {
                    console.log(error);
                })
            }
        }
    }
</script>
