<template>
    <div>
        <alert-error-component :errors="errors" v-if="showErr"></alert-error-component>
        <alert-success-component :message="successText" v-if="showSucc"></alert-success-component>
        <div class="card border-0 rounded-0 shadow shadower">
            <div class="card-header bg-greyblue border-0 rounded-0 text-white">
                <h5 class="m-0">Buscar usuario</h5>
            </div>
            <div class="card-body">
                <form @submit.prevent="searchUsers" novalidate>
                    <div class="form-row mb-3">
                        <div class="col-4">
                            <input type="text" name="username" class="form-control" placeholder="Username" v-model="user.username">
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" name="email" placeholder="Email" v-model="user.email">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" v-model="user.nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" v-model="user.apellido">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary bg-greyblue border-0 rounded-pill text-white float-right" :disabled="loading">
                        <i :class="[!loading ? 'fas fa-search' : 'fas fa-sync-alt']"></i>
                    </button>
                </form>
            </div>
        </div>
        <div v-if="show">
            <search-result-component v-for="(user, index) in users" :key="user._id" :user="user" :index="index"></search-result-component>
        </div>
    </div>
</template>

<script>
    import {url} from '../../app.js';
    export default {
        data: function () {
            return {
                searchBtn: 'Buscar',
                loading: false,
                show: false,
                users:{},
                user: {
                    username: '',
                    apellido: '',
                    nombre: '',
                    email:''
                }
            }
        },
        methods: {
            searchUsers: function () {
                this.loading = true;
                this.show = false;
                axios.get(url + '/api/search-users', {
                        params: {
                            'username': this.user.username,
                            'nombre': this.user.nombre,
                            'apellido': this.user.apellido,
                            'email': this.user.email
                        }
                    })
                    .then(response => {
                        if (!response.data.errors) {
                            this.users = response.data.users;
                            this.loading = false;
                            this.show = true;
                        } else {
                            this.$store.commit('showError', response.data.errors);
                            this.loading = false;
                        }

                    })
                    .catch(error => {
                        console.log(error);
                        this.searchBtn = 'Buscar';
                });
            }
        },
        computed:{
            showSucc: function(){
                return this.$store.state.showSucc;
            },
            successText: function(){
                return this.$store.state.successText;
            },
            showErr: function(){
                return this.$store.state.showErr;
            },
            errors: function(){
                return this.$store.state.errors;
            }
        }
    }

</script>
