<template>
    <div class="card rounded-0 border-0 mt-2 list_user_card shadow">
        <div class="card-body py-2">
            <div class="row">
                <div class="col-md-3">
                    {{ user.username }}
                </div>
                <div class="col-md-4">
                    <strong class="user_fullname">{{user.nombre}} {{user.apellido}}</strong>
                </div>
                <div class="col-md-5">
                    {{user.email}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
      export default {
            props: ['user']
      }
</script>