<template>
    <div>
        <div class="alert alert-success rounded-0 border-0 position-fixed shadow-lg fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
    </div>
</template>

<script>
export default {
    props: ['message']
}
</script>
