<template>
    <div>
        <div class="alert alert-danger rounded-0 border-0 position-fixed shadow-lg fade show" role="alert">
            <div v-for="(error, index) in errors" :key="index">
                <span class="d-block" v-for="(e, i) in error" :key="i">
                    <strong>Error: </strong>{{ e }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['errors']
}
</script>