<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <router-link class="navbar-brand" :to="{ name: 'home' }">Opratel API</router-link>
    </nav>
</template>

<script>
    export default {
        data: function(){
            return {
            }
        }
    }
</script>
