
button, a{
    @include transition-default;
}

.card{
    @include transition-default;
    &.deleted{
        background-color: $del_bg;
        color: $del_text;
    }
    &.shadower{
        &:hover{
            box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.20) !important;
        }
    }
}

a.linkDisabled{
    cursor: default;
    opacity: 0.7;
    text-decoration: none;
    pointer-events: none;
}

.form-control{
    background-color: $grey !important;
    border: none !important;
}

.form-group.invalid{
    label{
        color: $red !important;
    }
    .form-control{
        background-color: $formc_invalid !important;
    }
}

.bg-greyblue{
    background-color: $grey_blue !important;
    &:hover{
        background-color: $grey_blue_hover !important;
    }
}

.sh-greyblue{
    box-shadow: 3px 5px 0px $sh_greyblue;
    -webkit-box-shadow:  3px 5px 0px $sh_greyblue;
    &:hover{
        @include remove-btn-shadow;
    }
}
.sh-success{
    box-shadow: 3px 5px 0px $sh_success;
    -webkit-box-shadow:  3px 5px 0px $sh_success;
    &:hover{
        @include remove-btn-shadow;
    }
}
.sh-primary{
    box-shadow: 3px 5px 0px $sh_primary;
    -webkit-box-shadow:  3px 5px 0px $sh_primary;
    &:hover{
        @include remove-btn-shadow;
    }
}

.bg-greendark{
    background-color: $green_dark !important;
}

::-webkit-input-placeholder {
    color: #959595 !important;
}

:-ms-input-placeholder { 
    color: #959595 !important;
}

::placeholder {
    color: #959595 !important;
}