@mixin transition-default {
    transition: all 0.20s ease-in-out;
    -webkit-transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    -o-transition: all .20s ease-in-out;
}

@mixin remove-btn-shadow{
    box-shadow: 0px 0px 0px $sh_greyblue;
    -webkit-box-shadow:  0px 0px 0px $sh_greyblue;
}