// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto Condensed', sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$grey_blue:#46617b;
$grey_blue_hover:#334e68;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$light_yellow: #f1eedb;
$green: #38c172;
$green_dark: #49795a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$del_bg:#ffeeed;
$del_text:#b50909;
$grey: #e7e7e7;
$formc_invalid: #ffe5e5;

// shadows
$sh_greyblue:  #2f465d;
$sh_success: #0b7739;
$sh_primary:  #125790;
