.alert{
    margin:0 auto; 
    right:1.5625rem;
    bottom:0.9375rem;
    z-index: 9999;
    &.alert-success{
        background-color: $green;
        color:white;
    }
    &.alert-danger{
        display: block;
        background-color: $red;
        color:white;
        ul {
            li{
                margin-bottom:5px;
                padding:9px;
                list-style: none;
                padding-left: 15px;
                font-size: 14px;
                z-index: 999
            }
        }
    }
}